@import "./constants.css";
@import url("https://fonts.googleapis.com/css2?family=Yomogi&display=swap");
a {
  text-decoration: none;
}

#app {
  display: flex;
  background-color: var(--neutral);
}

.page-container {
  overflow-y: scroll;
  width: 100%;
  margin-left: 220px;
  padding-right: 20px;
  height: 100vh;
}

.page-title {
  margin: 5px;
  font-weight: bolder;
}
.card-shadow {
  box-shadow: 4px 4px 3px 1px rgba(155, 127, 126, 0.5);
}

.add-button {
  background-color: var(--blue);
  font-size: 1.7rem;
  width: 5rem;
  height: 5rem;
  position: fixed;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0.5rem;
  top: 50%;
  transition: 200ms;
  color: var(--red);
}

.add-button:hover {
  cursor: pointer;
  border-radius: 100%;
  transition: 500ms;
}

.background-fill {
  width: 100%;
  height: 100vh;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bubble {
  height: 60%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  border-radius: 10px;
  padding: 10px;
}

.bubble-icon {
  font-size: 2rem;
  color: var(--dark-blue);
}

.bubble-title {
  margin: 20px;
  font-size: 3rem;
}

.bubble-message {
  margin: 20px;
}

.bubble-data {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 60%;
}

.bubble-entry {
  display: flex;
  justify-content: space-around;
  font-size: 1.3rem;
}

.bubble-entry input,
.bubble-entry textarea {
  font-size: 100%;
  width: 80%;
}

.datetime-entry {
  font-size: 1rem;
}

.bubble-close-btn {
  float: right;
  font-size: 1.7rem;
  transition: 200ms;
}
.bubble-close-btn:hover {
  cursor: pointer;
  color: whitesmoke;
  transition: 200ms;
}

.bubble-submit-button {
  font-size: 2rem;
  width: 3rem;
  border-radius: 5px;
}

.letter-text {
  font-family: "Yomogi", cursive;
}

@media screen and (min-device-width: 320px) and (max-device-width: 799px) {
  .page-container {
    margin-left: 110px;
    margin-right: 10px;
  }
  .bubble {
    width: 70%;
  }
}
